<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src='{% static "spectrum/spectrum.js" %}'></script>
		
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel='stylesheet' href='{% static "spectrum/spectrum.css" %}' />
	</head>
	<body>
	
		<p>Hello World</p>
		<canvas id='whiteboard' width='500' height='250'></canvas>
		<input type='text' id="color-picker" />
		<div id='size-slider'></div>
		<canvas id='preview' width='128' height='128'></canvas>
		<div id="brushes">
			<img src='{% static "brushes/hard.png" %}' id='hard'>
		</div>
		<p id="debug"></p>
	</body>
</html>
<style>

	body {
		text-align: center;
	}
	
	#whiteboard {
/*
		width: 500px;
		height: 250px;
*/
		background: #eeeeee;
		border: 1px solid black;
	}
	
	#preview {
		width: 128px;
		height: 128px;
		background: #eeeeee;
		border: 1px solid black;
	}
	
	#brushes {
		background: #000000;
		border: 1px solid black;
	}
	
	#brushes img {
		width: 100px;
		height: 100px;
	}
	
	#size-slider {
		width: 100px;
	}

</style>
<script>

$(document).ready(function(){
	
	var ctx = document.getElementById('whiteboard').getContext('2d');
	var prevX = null, prevY = null, mouseDown = false;
	var path = [], color = '#000000', width = 5, brush = document.getElementById('hard');
	
	var previewCanvas = document.getElementById('preview');
	var preview = previewCanvas.getContext('2d');
	
	$("#color-picker").spectrum({
		color: color,
		change: function(newColor){
			color = newColor.toHexString();
			drawPreview();
			$("#debug").text(newColor.toHexString());
		}
	});
	
	$("#size-slider").slider({
		max: 50,
		min: 1,
		value: width,
		slide: function(e, ui){
			width = ui.value;
			drawPreview();
			$("#debug").text(width);
		}
	});
	
	$('#whiteboard')
		.mousedown(function(e){
		mouseDown = true;
		draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top, false);
	})
		.mousemove(function(e){
//		$("#debug").text($("#custom").value());
		if(mouseDown)
			draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top, true);
	})
		.mouseup(function(e){
		mouseDown = false;
		$("#debug").text(JSON.stringify(getPathJSON()));
	})
		/*.mouseleave(function(e){
		mouseDown = false;
		$("#debug").text(JSON.stringify(getPathJSON()));
	})*/;
	
	/*function draw(x, y, mouseDown){
		if(mouseDown && (x != prevX || y != prevY)){
			ctx.beginPath();
			ctx.strokeStyle = color;
			ctx.lineWidth = width;
			ctx.lineJoin = 'round';
			ctx.moveTo(prevX, prevY);
			ctx.lineTo(x, y);
			ctx.closePath();
			ctx.stroke();
			path.push(x + ':' + y);
		}
		prevX = x;
		prevY = y;
	}*/
	
	function draw(x, y, mouseDown){
		if(mouseDown){
			var xDelta = x - prevX, yDelta = y - prevY;
			var steps = Math.abs((Math.abs(xDelta) > Math.abs(yDelta) ? xDelta : yDelta));
			for(var i = 0; i < steps; i++){
				prevX += xDelta / steps;
				prevY += yDelta / steps;
				ctx.drawImage(previewCanvas, prevX - 64, prevY - 64);
			}
		}
		prevX = x;
		prevY = y;
		ctx.drawImage(previewCanvas, x - 64, y - 64);
	}
	
	function hexToRGB(hex){
        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }
	
	function drawPreview(){
		var dim = $('#preview').width();
		
		preview.clearRect(0, 0, dim, dim);
		
		preview.drawImage(brush, dim/2 - width/2, dim/2 - width/2, width, width);
		var imgData = preview.getImageData(0, 0, dim, dim);
		var pixels = imgData.data;
		var rgb = hexToRGB(color);
		for(var i = 0; i < pixels.length; i += 4){
			pixels[i+0] *= rgb.r / 255;
			pixels[i+1] *= rgb.g / 255;
			pixels[i+2] *= rgb.b / 255;
			pixels[i+3] *= 1;
		}
		
		imgData.data = pixels;
		preview.putImageData(imgData, 0, 0);
	};
	drawPreview();
	
	function getPathJSON(){
		if(path.length == 0) return null;
		var json = {
			color: color,
			width: width,
			path: path
		};
		path = [];
		return json;
	}
	
});
	
</script>