{% extends "layout.html" %}
{% block body %}
<div id='dashboard'>
	<div class=board id=newBoard>
		<img src="{{ url_for('static', filename='img/new.svg') }}">
	</div>
</div>


<script>

$(document).ready(function(){

	var userBoards = null;
	
	function getUserBoards(){
		$.get("/board", function(data, status){
			displayBoards(data);
		});
	}

	function displayBoards(data){
		userBoards = data;
		$.each(data, function(index, value){
			console.log(value);
			$("#dashboard").append(getBoardHTML(value));
		});
	}

	function getBoardHTML(data){
		var boardObj = $("<div></div>");
		boardObj.attr('class','board');
		boardObj.append( $("<h3></h3>").text(data.name) );
		boardObj.append( $("<h5></h5>").text(data.username) );
		boardObj.append( $("<hr>") );
		boardObj.append( $("<img>").attr("src", "/static/img/sad.svg") );
		boardObj.click(function(){
			// var href = 'url_for("draw", boardId=' + data.id + ')';
			// href = '{' + href + '}';
			// href = '{' + href + '}'; // really really stupid workaround that might be stupidly necessary
			// console.log(href);
			// console.log(data.id);
			window.location.href = '/draw/' + data.id;
		});
		return boardObj;
	}

	getUserBoards();

	

});

</script>


{% endblock %}